.class-page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.dashboard-header {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #4caf50;
    z-index: 100    ;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px 0;
}

.class-info-box {
    margin-top: 80px; 
    margin-bottom: 20px;
    padding: 20px;
    background-color: #4caf50;
    color: white;
    width: 80%; 
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    text-align: left;
}

.class-info-title {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 10px;
}

.class-info-teacher {
    font-size: 1.2em;
    margin: 0;
}

.class-table-container {
    margin: 20px auto;
    width: 60%;
}

.class-data-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    text-align: center; 
}

.class-data-table th, 
.class-data-table td {
    padding: 12px;
    border: 1px solid #ddd;
}

.class-data-table th {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
}

.class-data-table td {
    font-size: 1em;
    color: #333;
}

.error-message,
.loading-message {
    font-size: 1.2em;
    text-align: center;
    margin: 50px;
    color: #e74c3c;
}
